.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px;
  border-bottom: 1px solid #707070;
}
.userNameContainer {
  font-size: 16px;
  margin-bottom: 10px;
  font-family: 'Avenir', sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.55;
}
.commentContainer {
  margin: 10px;
  font-family: 'Avenir', sans-serif;
  font-size: 11px;
  font-weight: 100;
  letter-spacing: 1px;  line-height: 1.55;
}
