.imageStyle {
  margin: auto;
  height: 560px;
  width: auto;
  border-radius: 1px;
  box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.1), 0 8px 20px 0 rgba(0, 0, 0, 0.1);
  margin: 20px;
}
.imageStyle:hover {
  filter: blur(2px);
  cursor: pointer;
}
@media screen and (max-width: 1250px) {
  .imageStyle {
    height: 400px;
    width: auto;
  }
}
@media screen and (max-width: 615px) {
  .imageStyle {
    height: 300px;
    width: auto;
  }
}
