.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 50px 0px;
  font-family: 'Avenir', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 2px;
  text-align: center;
  color: #707070;
}
.item {
  margin: 3px;
}
