.aboutMe {
  font-family: 'Avenir', sans-serif;
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.8;
}
.homeContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  padding-bottom: 50px;
}
.aboutContainer {
  grid-column: 2/10;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 40px 0px 100px 0px;
  padding-right: 30px;
}
.projectsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  grid-column: 1/13;
}
@media screen and (max-width: 500px) {
  .aboutContainer {
    grid-column: 2/13;
    text-align: center;
    margin: 10px 0px 60px 0px;
  }
}
