.navContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  margin: 20px 20px 50px 20px;
}
.links {
  grid-column: 11/13;
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
}
.titleStyle {
  grid-column: 1/4;
  font-size: 30px;
  font-family: 'Avenir', sans-serif;
  letter-spacing: 6px;
  text-decoration: none;
  color: #000;
}
.linkStyle {
  font-family: 'Avenir', sans-serif;
  font-size: 16px;
  letter-spacing: 3px;
  text-decoration: none;
  color: #707070;
  margin-right: 25px;
}
.image {
  height: 34px;
  margin-left: 8px;
  width: auto;
}
@media screen and (max-width: 950px) {
  .links {
    grid-column: 11/12;
  }
}
